.context {
  color: $primary-dark-color;
}

.context:first-of-type {
  margin-top: 4.8rem;
}

.column__wrapper .context:first-of-type {
  margin-top: 0;
}

.context {
  padding: 4.8rem 0;
}

.context + .context {
  padding-top: 0;
  margin-top: 2.4rem;
}

.context h1 {
  margin-bottom: 3.2rem;
  font-size: calc(2.8rem + (46 - 28) * (100vw - 32rem) / (1920 - 320));
}

.context h2 {
  margin-bottom: 1.6rem;
  font-size: calc(2.1rem + (50 - 28) * (100vw - 32rem) / (1920 - 320));
}
.context h3 {
  margin-bottom: 1.6rem;
}

.context p {
  margin: 0;
  line-height: 1.8;
  color: rgba($primary-dark-color, 0.85);
}

.context p.muted {
  color: rgba($primary-dark-color, 0.4);
}

.context p + p {
  margin-top: 3.2rem;
}

.context p + h3 {
  margin-top: 4.8rem;
}

.context figure {
  width: 100%;
  margin: 4.8rem 0;
}

.context figure img {
  width: 100%;
}

.context figcaption {
  padding: 0 1rem;
  margin-top: 0.5rem;
  text-align: center;
  color: rgba($primary-dark-color, 0.6);
  font-size: calc(1.3rem + (16 - 13) * (100vw - 32rem) / (1920 - 320));
}

.context ul {
  margin: 3.2rem 0;
  padding-left: 2rem;
  list-style-type: initial;
}
.context ul li ~ li {
  margin-top: 1.6rem;
}

.image__wrapper {
  display: flex;
  flex-direction: column;
  margin: 4.8rem 0 0;
}

.image__wrapper .image {
  width: 100%;
}

.image__wrapper .image figure {
  width: 100%;
  margin: 0;
}

.image__wrapper .image img {
  width: 100%;
}

.image__wrapper .image + .image {
  margin-top: 4.8rem;
}

.image__wrapper + p {
  margin-top: 4.8rem;
}



@media (min-width: 768px) {
  .image__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 110%;
    margin: 6.4rem -5% 0;
  }
  .image__wrapper .image {
    flex: 0 0 calc(50% - 1.6rem);
  }
  .image__wrapper .image + .image {
    margin: 0 0 0 3.2rem;
  }
}
@media (min-width: 992px) {
  .context figure {
    width: 120%;
    margin: 6.4rem -10%;
  }
}
@media (min-width: 1200px) {
}
