.main {
  position: relative;
  padding: 3rem 3.2rem;
  z-index: 10;
  animation: fadeIn 1.3s;
}
.main__item {
  max-width: 900px;
  margin: 0 auto;
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .main {
    width: 50%;
  }
}
@media (min-width: 1200px) {
}
